<% include partials/_header %>

<div class="mt-5">
  <div class="row">
    <div class="col-md-10">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td>n°</td>
            <td>Type véhicule</td>
            <td>Roues</td>
            <td>Freins</td>
            <td>Cadre</td>
            <td>Etat mécanique</td>
            <td>Selle</td>
            <td>Batterie</td>
            <td>Description</td>
          </tr>
        </thead>
        <tbody>
          <%= console.log(data) %>
          <% if (data) { %>
          <% for(var i = 0; i < data.length; i++) { %>
          <tr>
            <td><%= (i + 1) %></td>
            <td><%= data[i].nom %></td>
            <td><%= data[i].roues %></td>
            <td><%= data[i].freins %></td>
            <td><%= data[i].cadre %></td>
            <td><%= data[i].etatMecanique %></td>
            <td><%= data[i].selle %></td>
            <td><%= data[i].batterie %></td>
            <td><%= data[i].description %></td>

            <td>
              <a href="etat/update/<%= data[i].id %>" class="btn btn-info">Modifier</a>
              <a href="etat/delete/<%= data[i].id %>" class="btn btn-danger">Supprimer</a>
            </td>
          </tr>
          <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="col-md-2">
      <div class="card-body">
        <% if (messages.error) { %>
        <p style="color:red"><%- messages.error %></p>
        <% } %>

        <% if (messages.success) { %>
        <p style="color:green"><%- messages.success %></p>
        <% } %>

        <form action="etat/add" method="POST">
          <div class="form-group">
            <input type="number" name="type_id" placeholder="Type véhicule" class="form-control">
          </div>
          <div class="form-group">
            <input etat="text" name="roues" placeholder="Roues" class="form-control" autofocus required>
          </div>
          <div class="form-group">
            <input etat="text" name="freins" placeholder="Freins" class="form-control">
          </div>

          <div class="form-group">
            <input etat="text" name="cadre" placeholder="Cadre" class="form-control">
          </div>

          <div class="form-group">
            <input etat="text" name="etatMecanique" placeholder="Etat mecanique" class="form-control">
          </div>

          <div class="form-group">
            <input etat="text" name="selle" placeholder="Selle" class="form-control">
          </div>

          <div class="form-group">
            <input etat="text" name="batterie" placeholder="Batterie" class="form-control">
          </div>

          <div class="form-group">
            <input etat="text" name="description" placeholder="description" class="form-control">
          </div>



          <button etat="submit" class="btn btn-primary btn-rounded">
            Enregistrer
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer %>